.blog {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: center;
}

.cart-container {
  background-color: rgb(30 41 59);
  height: 480px;
  width: 380px;
  border-radius: 10px;
}

.blog-image-container {
  width: 100%;
  height: 250px;
}

.blog-image-container img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blog-body-container {
  width: 100%;
  padding: 1rem 1.25rem;
  height: 150px;
}

.blog-body-container h2 {
  width: 100%;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  height: 1.75rem;
  overflow-y: hidden;
}

.blog-body-container p {
  width: 100%;
  max-height: 3.75rem;
  color: rgba(166, 166, 230, 0.9);
  overflow-y: hidden;
  margin-bottom: 0.25rem;
}

.blog-body-container a {
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

.btn-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.btn-container button {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: rgba(3, 105, 161, 1);
  color: white;
  border: 0;
  outline: 0;
  width: 40%;
  padding: 0.25rem;
  text-align: center;
  border-radius: 4px;
}

/* light theme css */
.light-cart-container {
  background-color: rgb(224 242 254);
  height: 480px;
  width: 380px;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 8px 1px rgb(93, 113, 118);
}

.light-blog-image-container {
  width: 100%;
  height: 250px;
}

.light-blog-image-container img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.light-blog-body-container {
  width: 100%;
  padding: 1rem 1.25rem;
  height: 150px;
}

.light-blog-body-container h2 {
  width: 100%;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  height: 1.75rem;
  overflow-y: hidden;
}

.light-blog-body-container p {
  width: 100%;
  max-height: 3.75rem;
  color: rgba(59, 59, 62, 0.9);
  font-weight: 500;
  overflow-y: hidden;
  margin-bottom: 0.25rem;
}

.light-blog-body-container a {
  color: black;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

.light-btn-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.light-btn-container button {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: rgba(3, 105, 161, 1);
  color: rgb(18, 17, 17);
  border: 0;
  outline: 0;
  width: 40%;
  padding: 0.25rem;
  text-align: center;
  border-radius: 4px;
}

/* mobile design */

@media (max-width: 798px) {
  .blog {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }

  .cart-container {
    width: 80vw;
    margin: 0 auto;
  }

  .light-cart-container {
    width: 80vw;
    margin: 0 auto;
  }
}
