.post-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.single-post-img-container {
  width: 80%;
  height: 600px;
}

.single-post-img-container img {
  width: 100%;
  height: 100%;
}

.single-post-body-container {
  width: 80%;
  margin: 1rem auto;
}

.single-post-body-container h1 {
  margin-bottom: 2rem;
}

.single-post-body-container p {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(200, 200, 223, 0.9);
}

/* mobile design */

@media (max-width: 798px) {
  .post-container {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .single-post-img-container {
    width: 80%;
    height: 80%;
  }

  .single-post-img-container img {
    width: 100%;
    height: 100%;
  }

  .single-post-body-container {
    width: 80%;
    margin: 1rem auto;
  }

  .single-post-body-container h1 {
    margin-bottom: 1rem;
  }

  .single-post-body-container p {
    font-size: 1rem;
    line-height: 1.2;
    color: rgba(200, 200, 223, 0.9);
  }
}
