.nav {
  width: 100vw;
}

.nav-main-container {
  width: 90%;
  height: 200px;
  background-color: rgba(15, 23, 42, 1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 8px 1px rgb(63, 82, 110);
  box-shadow: 0px 0px 8px 1px rgb(93, 113, 118);
  color: #fff;
  margin: 0 auto;
  position: sticky;
  margin-bottom: 1rem;
}

.nav-light-theme {
  background-color: rgb(224 242 254);
  width: 90%;
  height: 200px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 8px 1px rgb(63, 82, 110);
  box-shadow: 0px 0px 8px 1px rgb(93, 113, 118);
  color: #090909;
  margin-bottom: 1rem;
}

@media (max-width: 798px) {
  .nav {
    width: 100vw;
  }

  .nav-light-theme {
    width: 100vw;
  }
}
