.nav-container {
  width: 90%;
  margin-top: 2.25rem;
  margin: 0 auto;
}

.nav-link-container {
  width: 70%;
  margin-top: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  margin: 1rem;
  list-style: none;
}

.nav-link > a {
  text-decoration: none;
  color: #dbe4e8;
}

.nav-link > a:focus {
  border-bottom: 4px solid gray;
}
